{% extends 'admin.layouts.main' %}

{% block pagejs %}
    <script src="{{ url('assets/plugins/bootbox.min.js') }}"></script>
	<script src="{{ url('assets/admin/js/site.index.js') }}"></script>
{% endblock %}

{% block title %}
	Site View
{% endblock %}

{% block content %}
	<div class="pull-right" style="margin-top: -40px; margin-bottom: 0px; z-index: 1; position: relative;">
		<a href="{{ url('admin/site/page') }}" class="btn btn-success"><i class="fa fa-file"></i> Create Page</a>
		<a href="{{ url('admin/site/folder') }}" class="btn btn-success"><i class="fa fa-folder"></i> Create Folder</a>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="box box-solid">
				<!-- /.box-header -->
				<div class="box-body">
					{% for folder in folders %}
						<table width="100%" class="table table-bordered table-hover">
							</thead>
								<tr>
									<td width="26%"><i class="fa fa-folder"></i> {{ folder.name }}</td>
									<td width="26%">{{ folder.url }}</td>
									<td width="12%" style="text-align:center;">
										<a href="{{ url('admin/site/folder-change-order/' ~ folder.id ~ '/desc') }}"><i class="fa fa-sort-desc fa-lg" style="margin-right:5px;"></i></a>
										<a href="{{ url('admin/site/folder-change-order/' ~ folder.id ~ '/asc') }}"><i class="fa fa-sort-asc fa-lg" style="margin-left:5px;"></i></a>
									</td>
									<td width="12%"><a href="{{ url('admin/site/folder-change-visible/' ~ folder.id) }}">{{ folder.visible == 'Yes' ? 'Visible' : 'Invisible' }}</a></td>
									<td width="12%"><a href="{{ url('admin/site/folder-change-status/' ~ folder.id) }}">{{ folder.status }}</a></td>
									<td width="12%">
										<a href="{{ url('admin/site/folder/' ~ folder.id) }}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
										<a href="{{ url('admin/site/folder-delete/' ~ folder.id) }}" class="btn btn-danger btn-xs folder-delete"><i class="fa fa-times"></i></a>
									</td>
								</tr>
							</thead>
							<tbody>
								{% for page in folder.pages %}
									<tr>
										<td><i class="fa fa-level-up fa-rotate-90" style="margin-right:8px; margin-left:8px;"></i><i class="fa fa-file-o"></i> {{ page.name }}</td>
										<td><a target="_blank" href="{{ url(page.url) }}">{{ page.url }}</a></td>
										<td style="text-align:center;">
											<a href="{{ url('admin/site/page-change-order/' ~ page.id ~ '/desc') }}"><i class="fa fa-sort-desc fa-lg" style="margin-right:5px;"></i></a>
											<a href="{{ url('admin/site/page-change-order/' ~ page.id ~ '/asc') }}"><i class="fa fa-sort-asc fa-lg" style="margin-left:5px;"></i></a>
										</td>
										<td><a href="{{ url('admin/site/page-change-visible/' ~ page.id) }}">{{ page.visible == 'Yes' ? 'Visible' : 'Invisible' }}</a></td>
										<td><a href="{{ url('admin/site/page-change-status/' ~ page.id) }}">{{ page.status }}</a></td>
										<td>
											<a href="{{ url('admin/site/page/' ~ page.id) }}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
											<a href="{{ url('admin/site/page-delete/' ~ page.id) }}" class="btn btn-danger btn-xs page-delete"><i class="fa fa-times"></i></a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						<br />
					{% endfor %}
				</div>
				<!-- /.box-body -->
			</div>
		    <!-- /.box -->
		</div>
        <!-- /.col -->
	</div>
{% endblock %}
